/* Header */
.logo {
  display: block;
  height: 150px;
  margin: 30px auto 0 auto;
}

.tagline {
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

/* Intro */
.intro {
  margin: 30px 80px;
}

/* Feels */
.feel-link {
  text-decoration: none !important;
}

.feel-item {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 10px;
}

.feel-emoji {
  font-size: 8em;
  text-align: center;
}

.feel-name {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

.feel-button, .feels-index-button, .users-index-button  {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
}

/* Phoenix flash messages */
.alert:empty { display: none; }
